{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <head>
    <div class="px-5 py-5 mx-auto">
                <link rel="stylesheet" href="/static\css\style.css">
                    </head>
                        <body>
                            <div class = "content"></div>
                                <h1>Team Flask Website</h1>
                                </div>
                            </body>
                        </div>
{% endblock %}