{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<!-- Start of body content specific to page -->

<div class="px-5 py-5 mx-auto"
  style="display: flex; flex-direction: column; align-items: center; justify-items: center; color:aliceblue; height: 100%;">
  <h1>Team Flask Website</h1>
  <table>
    <tr>
      <th>Member</th>
      <th>Role</th>
    </tr>
    <tr>
      <td>Ethan Tran</td>
      <td>/Scrum Master</td>
    </tr>
    <tr>
      <td>Taiyo Iwazaki</td>
      <td>/Frontend Devloper</td>
    </tr>
    <tr>
      <td>Luna Iwazaki :)</td>
      <td>/Frontend Devloper</td>
    </tr>
    <tr>
      <td>Parav Salaniwal</td>
      <td>/Backend Devloper</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>Rohin Sood</td>
      <td>/Backend Developer</td>
    </tr>
    <tr>
    </tr>
  </table>
</div>
{% endblock %}